<!DOCTYPE html>
<html>
    <head>
        <title>{{ globals.APP_NAME }} - 404 Page Missing</title>
        <meta charset="UTF-8">
        <meta viewport="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <section class="not-found nigg">
            <h1 class="header">404 - Page Not Found</h1>
            <hr class="separator">
            <p>The page you are looking for does not exist.</p>
            <a href="/">Home</a>
        </section>
    </body>
</html>